@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');

@media (max-width: 1300px){

    .d-block{
        height: 600px !important;
    }
}

@media (max-width: 1000px){
    .d-block{
        height: 500px !important;
    }
}

@media (max-width: 800px){
    .carousel_title {
        position: static !important;
    }
    .carousel_title1{
        font-size: 1.5em !important;
        font-weight:400;
    }
    .carousel_title2{
        font-size: 2em !important;
    }
    .d-block{
        height: 400px !important;
    }
}

@media (max-width: 400px){
    .d-block{
        height: 300px !important;
    }
}
.carousel_block{
    width: 29px;
    height: 5px;
    background-color: rgb(230,0,0);
    float: right;
    position: relative;
    top: 7px;
    z-index: 1;
}

.carousel_cotitle_space{
    text-align: right;
    margin-left: 0;
    display:inline-block;
    height: 60px;
}
.carousel_title{
    float: left;
    position: relative;
    left: -100px;
    top: -40px;
    text-align: left;
}
.carousel_title1{
    font-size: 1rem;
    font-weight: 700;
    position: relative;
    top: 30px;
    z-index: 2;

}
.carousel_title2{
    font-size: 3rem;
    font-weight: 700;
}
.container-fluid{
    margin: 0 auto;
    max-width: 1920px;
    max-height: 720px;
    background-color: black;
    padding: 0;
}

.carousel_img{
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(255,255,255,0.5)));
}

.d-block{
    width: 1920px;
    height: 720px;
    object-fit: cover;
}

car_item{
    height: 100%;
}