@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');

@media (max-width: 1500px) {
    #navbarNavAltMarkup {
        display: none !important;
    }
    .navbar-toggler{
        display: block !important;
    }
}

@media (max-width: 767px) {
    .carousel-indicators,
    .carousel-indicators li {
        cursor: default;
        pointer-events: none;
    }
}

.container-fluid{
    margin: 0 auto;
    max-width: 1920px;
    max-height: 720px;
}
.carousel_title{
    font-size:1vh;
}

.d-block{
    width: 1920px;
    height: 720px;
    object-fit: cover;
}


.navbar{
    height: 100%;
    line-height: 100%;

}
.searchbar{
    height: 100%;
    line-height: 100%;
}
.navbar-nav{
    display: flex;
    width:50%;
    max-width: 800px;
    min-width: 1000px;
    flex-flow: row wrap;
    justify-content: space-between;
}

.navbar-toggler{
    border: none;
}
.outerspace{
    width: 100%;
    min-width:1300px;
    max-width:2000px;
}
.searchtext{
    font-family: 'Merriweather', serif;
    font-style: italic;
    color: #4e555b;
    font-size: 10px;
}
.nav-link{
    font-size: 15px;
    padding: -20px 0;

}

.user-icon{
    filter: invert(49%) sepia(1%) saturate(0%) hue-rotate(312deg) brightness(102%) contrast(90%);
}
