.boxxx{    
    background:rgb(241, 239, 236);    
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 300px;
    padding-right: 300px;
}
.type{
    font-size: 18px;
}
.topic{   
    font-size: 30px;   
    color: black;
    font-weight: 600;
}
.time{
    font-size: 15px;
}
